/* SETUP */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    max-width: 1200px;
    margin: 20px auto;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.mg-1{
    margin-bottom: 30px;
}

/* HEADER SECTION */
.container-header{
    background-color: #e579e6;
    height: 100px; /* to be deleted */
}

/* INTRO SECTION */
.intro-section{
    background-color: #e1d67a;
    height: 350px; /* to be deleted */
}

/* BODY SECTION */
.container-body{
    background-color: #008dfe;
}

.header-body{
    background-color: #abcfe7;
    margin-bottom: 20px;
    height: 100px;/* to be deleted */
}

/* info-image-section */
.info-image-section > *{
    float: left;
    width: 25%;
}
.main-content{
    width: 50%;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.contenuto-info{
    height: 400px;/* to be deleted */
    background-color: #abcfe7;
}

/* FOOTER */
footer{
    background-color: #8801fe;
    height: 50px; /* to be deleted */
}