/* SETUP */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 70%;
    margin: 20px auto;
}

.mg-1{
    margin-bottom: 30px;
}

/* HEADER SECTION */
.container-header{
    background-color: #e579e6;
    height: 100px; /* to be deleted */
}

/* INTRO SECTION */
.intro-section{
    background-color: #e1d67a;
    height: 350px; /* to be deleted */
}

/* BODY SECTION */
.container-body{
    background-color: #008dfe;
}

.header-body{
    background-color: #abcfe7;
    height: 100px;/* to be deleted */
}

/* info-image-section */
.info-image-section > *{
    float: left;
}
.container-body::after{
    content: '';
    display: table;
    clear: both;
}

.padd-1{
    padding: 20px 20px 20px 0;
}
.sidebar-1{
    width: 25%;
}
.main-content{
    width: 50%;
}
.sidebar-2{
    width: 25%;
    padding-right: 0;
}

.contenuto-info{
    height: 400px;/* to be deleted */
    background-color: #abcfe7;
}

/* FOOTER */
footer{
    background-color: #8801fe;
    height: 50px;
}