/* SETUP */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 80%;
    background-color: rgba(94, 255, 0, 0.5);
    margin: 20px auto;
}

.box-test{
    width: 100%;
    height: 50px;
}
.mg-1{
    margin-bottom: 20px;
}

/* HEADER SECTION */
.container-header{
    background-color: #e579e6;
    height: 100px; /* to be deleted */
}

/* INTRO SECTION */
.intro-section{
    background-color: #e1d67a;
    height: 350px; /* to be deleted */
}

/* BODY SECTION */
.container-body{
    background-color: #008dfe;
}

.header-body{
    background-color: #abcfe7;
    height: 100px;/* to be deleted */
}

/* info-image-section */
.info-image-section > *{
    float: left;
}

.container-body::after{
    content: '';
    display: table;
    clear: both;
}

.sidebar-1{
    width: 25%;
    height: 400px;/* to be deleted */
    background-color: #abcfe7;
    padding: 20px  20px 0 0;
}
.main-content{
    width: 50%;
    height: 400px;/* to be deleted */
    background-color: #19679b;
    padding: 20px  20px 0 20px;
}
.sidebar-2{
    width: 25%;
    height: 400px;/* to be deleted */
    background-color: #1b3f57;
    padding: 20px 0 0 20px;
}

/* FOOTER */
footer{
    background-color: #8801fe;
    height: 50px;
}